header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 260px;
    margin: 0;
    padding: 0;
    position: absolute;
    background-image: url('./../../assets/images/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

header h2, h3 {
    font-weight: 400;
}

.botao-header {
    display: flex;
    margin-top: auto;
    margin-bottom: 0.5rem;
}

.botao-header img:hover {
    cursor: pointer;
}

.header-character {
    line-height: 0;
    width: 100%;
    font-family: 'LEDLIGHT', sans-serif;
    font-weight: 400;
}

.header-character h2 {
    margin: 0;
    line-height: 0.7;
    margin-left: 30px;
    filter: blur(0.6px);
}

.header-character img {
    pointer-events: none;
    user-select: none;
}

.header-flavor {
    display: flex;
    margin-top: auto;
    font-family: 'Modern Typewriter', monospace;
    margin-left: 30px;
    filter: blur(1px);
}

.container-header {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 70px;
}

.header-flavor h3 {
    margin: 0;
}

.header-character img {
    position: absolute;
    width: 450px;
    height: 450px;
    opacity: 0.85;
}

.decoration-bar {
    height: 13px;
    width: 530px;
    margin: auto;
}

.header-portrait img {
    width: 244px;
    height: 244px;
    margin: 0;
    position: absolute;
    right: 30px;
    top: 0;
}

.giro-loop {
    animation: girar 22s linear infinite;
}

@keyframes girar {
    0% {
        transform: translate(-23.5%, -70%) rotate(0deg);
        filter: blur(0px);
    }
    24% {
        filter: blur(0px);
    }
    25% {
        filter: blur(1.5px);
    }
    40% {
        filter: blur(0.8px);
    }
    59% {
        filter: blur(0.6px);
    }
    60% {
        filter: blur(0px);
    }
    65% {
        filter: blur(0.5px);
    }
    74% {
        filter: blur(0.45px);
    }
    75% {
        filter: blur(1.6px);
    }
    90% {
        filter: blur(0.8px);
    }
    100% {
        transform: translate(-23.5%, -70%) rotate(360deg);
        filter: blur(0px);
    }
}