@font-face {
  font-family: 'LEDLIGHT';
  src: url('../src/fonts/LEDLIGHT.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MODERN TYPEWRIGHTER';
  src: url('/fonts/MODERN_TYPEWRIGHTER.ttf') format('truetype');
}

@font-face {
  font-family: 'OldNewspaperTypes';
  src: url('/fonts/OldNewspaperTypes.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/images/background.png');
  background-repeat: no-repeat;
  font-family: 'OldNewspaperTypes', serif;
}

body::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, Edge */
}


@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 350px 350px;
  }
}